<%
  dive = activity.dive
  user = activity.user
%>
<li class='feed_item'>
  <a class='feed_abstract' href='<%=dive.fullpermalink(:locale)%>'>
    <div class='feed_abstract_img'><img src='<%=user.picture%>'/></div>
    <%if dive.spot.country_id == 1 then%>
      <div class='feed_abstract_title'><%= it("%{user} has logged a new dive", scope: ['feeds', 'activity_single_add_dive'], user: user.nickname) %></div>
    <%else%>
      <div class='feed_abstract_title'><%= it("%{user} has logged a new dive in %{country}", scope: ['feeds', 'activity_single_add_dive'], country: dive.spot.country_name, user: user.nickname) %></div>
    <%end%>
    <div class='feed_abstract_when'>
      <%if !activity.when['days'].nil? then%><%= it("%{count} days ago", scope: ['feeds'], count: activity.when['days']) %>
      <%elsif !activity.when['hours'].nil? then%><%= it("%{count} hours ago", scope: ['feeds'], count: activity.when['hours']) %>
      <%elsif !activity.when['minutes'].nil? then%> <%= it("%{count} minutes ago", scope: ['feeds'], count: activity.when['minutes']) %>
      <%elsif !activity.when['seconds'].nil? then%><%= it("%{count} seconds ago", scope: ['feeds'], count: activity.when['seconds']) %>
      <%end%>
    </div>
  </a>
  <div class=feed_popup>
    <img class=feed_popup_arrow src='<%=HtmlHelper.lbroot "/img/feeds/popup_arrow.png"%>'/>
    <a href='<%=dive.fullpermalink(:locale)%>' style='color:#333;'>
    <div class=feed_popup_main>
      <img class='feed_popup_title_img' src='<%=dive.thumbnail_image_url%>' />
      <div class='feed_popup_title'>
        <%=user.nickname%> <br/>&nbsp;<br/> <%=dive.date%> <%if dive.spot_id != 1 then%><br/> <%=dive.spot.name%> <br/> <%=dive.spot.area_name%><%end%>
      </div>
      <div class='feed_popup_details'><%= it("Time in:", scope: ['feeds', 'activity_single_add_dive']) %> <%=dive.time%> - <%= it("Max. depth:", scope: ['feeds', 'activity_single_add_dive']) %> <%=dive.maxdepth%>m</div>
      <div class='feed_popup_details'><%=dive.public_notes%></div>
      <div class='feed_popup_pictures'><%(dive.other_firsts_pictures || []).each do |pic|%><img src='<%=pic.thumbnail%>' /><%end%></div>
      <div class='feed_popup_link'><span style='color:#ff6200'><%= it("View in logbook", scope: ['feeds']) %></span>
      <div class='feed_popup_when'>
        <%if !activity.when['days'].nil? then%><%= it("%{count} days ago", scope: ['feeds'], count: activity.when['days']) %>
        <%elsif !activity.when['hours'].nil? then%><%= it("%{count} hours ago", scope: ['feeds'], count: activity.when['hours']) %>
        <%elsif !activity.when['minutes'].nil? then%> <%= it("%{count} minutes ago", scope: ['feeds'], count: activity.when['minutes']) %>
        <%elsif !activity.when['seconds'].nil? then%><%= it("%{count} seconds ago", scope: ['feeds'], count: activity.when['seconds']) %>
        <%end%>
      </div></div>
    </div>
    </a>
  </div>
</li>
