<li class='feed_item'>
    <div class='feed_abstract_img'><img src='<%=notification.about.user.picture%>'/></div>
    <div class='feed_abstract_dismiss symbol' data-db-notif_id='<%=notification.id%>'>'</div>
    <a href='<%=notification.about.fullpermalink(:locale)%>'>
      <div class='feed_abstract_title'><strong><%=notification.about.user.nickname%></strong> has added you as buddy on a dive <%if notification.about.spot_id != 1 then%> in <%=notification.about.spot.name%><%end%></div>
    </a>
    <div class='feed_abstract_when'>
      <%if !notification.when['days'].nil? then%><%=notification.when['days']%> days ago
      <%elsif !notification.when['hours'].nil? then%><%=notification.when['hours']%> hours ago
      <%elsif !notification.when['minutes'].nil? then%><%=notification.when['minutes']%> minutes ago
      <%elsif !notification.when['seconds'].nil? then%><%=notification.when['seconds']%> seconds ago
      <%end%>
    </div>
  </a>
</li>
