<html>
<body>

<div style='background-color: #222; color: #1D1D1D; max-width: 800px; padding: 20px; font-size: 12px; font-family: "Helvetica, Verdana, Arial, sans-serif"; text-shadow: white 0px 1px;'>

  <div style='margin-top: 20px; margin-bottom: 30px;'>
  <img src="http://www.diveboard.com/img/logo-alpha.png" alt="DiveBoard">
  </div>


  <div style='background-color: #f4f4f4; margin-top: 0; padding: 30px 10px 10px 10px;'>
  <p style='margin: 5px 0 20px 0;'><%= it("Hi %{name} !", scope: ['notify_user', 'notify_buddy_added']) %></p>
  <%= it("Your buddy %{buddy} wanted to let you know that he just logged the dive you did together in %{link:%{spot}} on %{date}.", scope: ['notify_user', 'notify_buddy_added'], buddy: @b_owner.nickname, link: It.link(@b_dive.fullpermalink(:locale)), spot: @b_dive.spot.name, date: @b_dive.date) %>
  <br/>
  <br/>
  <%= it("You should check it out!", scope: ['notify_user', 'notify_buddy_added']) %></p>


  <p style='margin: 30px 0 5px 0;'><%= it("Happy Diving !", scope: ['notify_user', 'notify_buddy_added']) %></p>
  <p style='margin: 5px 0 5px 0;'><%= it("The Diveboard team", scope: ['notify_user', 'notify_buddy_added']) %></p>
  <p style='margin: 5px 0 0px 0;'><a href='http://www.diveboard.com'>http://www.diveboard.com</a></p>

  </div>
</div>
</body>
</html>
