<%= render :partial => 'admin_css'%>

<script src="http://maps.google.com/maps/api/js?sensor=false&amp;key=<%= @gmapskey%>" type="text/javascript"></script>
<%= javascript_include_tag 'divepage', defer: true %>

<script type="text/javascript">

$(document).ready(function(){
  //$("#location_list input").click(toggle_wiki_text);
  $(".wiki_html_link").click(show_wiki_formatted);
  $(".wiki_text_link").click(show_wiki_plain);
  $("#country_code").keyup(check_country);
});

function toggle_wiki_text(e){
  var id = $(e.target).attr("name");
  if ($(e.target).is(":checked")){
    $("#"+id).find(".wiki_text").show();
  }else{
    $("#"+id).find(".wiki_text").hide();
  }
}
function show_wiki_formatted(e){
  e.preventDefault();
  $(e.target).parent().find(".wiki_text_formatted").show();
  $(e.target).parent().find(".wiki_text_plain").hide();
}
function show_wiki_plain(e){
  e.preventDefault();
  $(e.target).parent().find(".wiki_text_formatted").hide();
  $(e.target).parent().find(".wiki_text_plain").show();
}

function check_country(e){

  var name = country_name_from_code($("#country_code").val())
  if (name != ""){
    $("#country").text(name);
    $("#country").css("color", "black");

  }else{
    $("#country").text("ERROR");
    $("#country").css("color", "red");
  }
}
</script>


<!-- The Sidebar starts here! -->
<%= render :partial => 'menu',  :locals => { :item => 3 } %>
<!-- The Sidebar Ends Here -->
<!-- The Main Content Area Begins here -->
<div id="main_content_area" style="height:auto !important; padding-bottom:30px;" class="location_moderation">
  <%= render :partial => 'spot_menu' %>
  <div class="flash"><%=flash[:notice]%></div>
  <h1>Location Moderation</h1>
  <h2>Select country to moderate</h2>
  <%=form_tag("/admin/mod_location") do%>
  <select name="moderate_country" id="moderate_country" <%if !@country.nil?%>value="<%=@country.ccode%><%end%>">
    <option value=''></option>
    <%@country_list.each do |s|%>
    <option value='<%=s.ccode%>'><%= s.cname.titleize+" (#{s.locations.count})"%></option>
    <%end%>
    <%= submit_tag 'show country', :class=>"yellow_button" %>
  <%end%>
  <%=form_tag("/admin/mod_location") do%>
    <div class="varline_large" style="display:inline-block;"><div class="tag"><b>Search name :</b></div><div class="field"><input type="text" id="search_name" name="search_name" style="width: 275px;" /></div></div>
    <%= submit_tag 'search', :class=>"yellow_button" %>
  <%end%>
  <%=form_tag("/admin/mod_location") do%>
    <div class="varline_large" style="display:inline-block;"><div class="tag"><b>Show ids (i.e.: 1234,1235):</b></div><div class="field"><input type="text" id="show_ids" name="show_ids" style="width: 275px;" /></div></div>
    <%= submit_tag 'show', :class=>"yellow_button" %>
  <%end%>
    <hr style="margin-top: 10px;"/>
    <%if !@location.nil?%>
    <%=form_tag("/admin/mod_location") do%>
    <%if !@country.nil?%>
      <h2>Locations in <%=@country.cname.titleize%></h2>
    <%else%>
      <h2>Locations to moderate</h2>
    <%end%>
    <div class="left_pane">
      <div class="yellow_button" onclick="$.each($('#location_list input'), function(i, e){$(e).attr('checked',null)});" style="width: 200px; display: inline-block;">Reset selection</div>
      <ul id="location_list">
        <%if @location.nil?%>
        <p> No results</p>
        <%end%>
        <%@location.each do |l|%>
        <li id="<%=l.id%>"><input type="checkbox" name="targets[<%=l.id%>]" value="targets[<%=l.id%>]">
          <span style="width: 220px; display: inline-block; margin-left: 5px; text-indent: -33px; padding-left: 60px;"><%if @country.nil?%><span style="width: 15px; display:inline-block;"><%=l.country.ccode%></span><%end%><%=l.name%> (<%=l.id%>)</span><a href="#" onclick="$(this).parent().find('.spot_details').toggle(); return false;"><%=l.spots.count%> spots</a> - <a href="#" onclick="$(this).parent().find('.dive_details').toggle(); return false;"><%=l.dives.count%> dives</a> - <a href="#" onclick="$(this).parent().find('.wiki_text').toggle(); return false;">wiki</a>
          <%if l.verified_user_id%>
          <span class="symbol green">/</span>
          <%end%>
          <span class="wiki_text" style="display:none">
            <%if l.wiki.nil?%>
            No Wiki data
            <%else%>
            <u>Wiki id: <%=l.wiki.id%></u><br/>
            <a href="#" class="wiki_html_link">html</a> | <a href="#" class="wiki_text_link">text</a>
            <div class="wiki_text_plain" style="display:none;">
              <%begin%>
              <%=l.wiki.data%>
              <%rescue%>
              No Wiki data (rescue)
              <%end%>
            </div>
            <div class="wiki_text_formatted">
              <%begin%>
              <%=l.wiki.data.html_safe%>
              <%rescue%>
              No Wiki data (rescue)
              <%end%>
            </div>
            <%end%>
          </span>
          <span class="dive_details" style="display:none">
            <ul>
              <%l.dives.each do |d|%>
              <li><a href="<%=d.fullpermalink(:locale)%>"><%=d.id%> - view details</a>, spot: <a href="/admin/mod_spot/<%=d.spot_id%>"><%=d.spot.id%> - edit</a>, user: <%=d.user_id%></li>
              <%end%>
            </ul>
          </span>
          <span class="spot_details" style="display:none">
            <ul>
              <%l.spots.each do |d|%>
              <li>Name: <%=d.name%>, Country: <%=d.country.ccode%> (<%=d.country_id%>) - <a href="/admin/mod_spot/<%=d.id%>"><%=d.id%> - edit</a></li>
              <%end%>
            </ul>
          </span>
        </li>
        <%end%>
      </ul>
    </div>
    <div id="destination">
      <div class="varline_large"><div class="tag"><b>Name :</b></div><div class="field"><input type="text" id="name" name="name" style="width: 275px;" /></div></div>
      <div class="varline_large"><div class="tag"><b>wiki data (html) :</b></div><div class="field"><textarea rows="4" cols="60" id="wiki_text" name="wiki_text">TODO - NO WIKI ON LOCATIONS YET</textarea></div></div>
      <div class="varline_large"><div class="tag"><b>country_code :</b></div><div class="field"><input type="text" id="country_code" name="country_code" value="<%=@country.ccode rescue ""%>"/></div></div>
      <div class="varline_large"><div class="tag"><b>Code checked :</b></div><div class="field" id="country"></div></div>
      <%= submit_tag 'merge locations', :class=>"yellow_button" %>
    </div>
    <%end%>
    <%end%>
  </div>