<div id="footer">
  <table class="social">
    <tr>
      <td><a href="https://twitter.com/diveboard" target="_blank"><img src="<%= HtmlHelper.lbroot "/img/home/twitter_icon.svg" %>" alt="Twitter" /></a></td>
      <td><a href="https://discord.gg/bSEpRv77sv" target="_blank"><img src="<%= HtmlHelper.lbroot "/img/home/discord_icon.svg" %>" alt="Discord" /></a></td>
      <td><a href="https://github.com/diveboard" target="_blank"><img src="<%= HtmlHelper.lbroot "/img/home/github_icon.svg" %>" alt="Github" /></a></td>
    </tr>
  </table>
  <p><%= it("Copyright %{year} Diveboard", scope: ['footer', 'v2', 'footer_part'], year: "2008-2024") %></p>
  <div class="clear"></div>
  <% if true %>
  <!-- TODO wire language -->
  <table class="language">
    <tr>
      <td><p><%= it("Change language:", scope: ['footer', 'v2', 'links']) %></p></td>
      <td>
        <div class="languages_select">
          <select class="languages">
            <%Rails.configuration.opened_locales.each do |lang|%>
              <option data-href-hostname='<%=HtmlHelper.find_hostname_for lang%>' <%='selected' if lang == I18n.locale%>><%=Rails.configuration.map_untranslated_locales[lang]%></option>
            <%end%>
          </select>
        </div>
      </td>
    </tr>
  </table>
  <% end %>
</div>
