<div id="footer">
  <table class="social">
    <tr>
      <td><a href="https://www.facebook.com/Diveboard" target="_blank"><img src="<%= HtmlHelper.lbroot "/img/home/facebook_icon.svg" %>" alt="Facebook" /></a></td>
      <td><a href="http://www.pinterest.com/diveboard/" target="_blank"><img src="<%= HtmlHelper.lbroot "/img/home/pinterest_icon.svg" %>" alt="Pinterest" /></a></td>
      <td><a href="https://twitter.com/diveboard" target="_blank"><img src="<%= HtmlHelper.lbroot "/img/home/twitter_icon.svg" %>" alt="Twitter" /></a></td>
      <td><a href="https://plus.google.com/+Diveboard" target="_blank"><img src="<%= HtmlHelper.lbroot "/img/home/google_plus_icon.svg" %>" alt="Google+" /></a></td>
    </tr>
  </table>
  <p><%= it("Copyright %{year} Diveboard", scope: ['footer', 'v2', 'footer_part'], year: "2013-2015") %></p>
  <div class="clear"></div>
  <% if true %>
  <!-- TODO wire language -->
  <table class="language">
    <tr>
      <td><p><%= it("Change language:", scope: ['footer', 'v2', 'links']) %></p></td>
      <td>
        <div class="languages_select">
          <select class="languages">
            <%Rails.configuration.opened_locales.each do |lang|%>
              <option data-href-hostname='<%=HtmlHelper.find_hostname_for lang%>' <%='selected' if lang == I18n.locale%>><%=Rails.configuration.map_untranslated_locales[lang]%></option>
            <%end%>
          </select>
        </div>
      </td>
    </tr>
  </table>
  <% end %>
</div>