
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=I18n.locale%>">
  <head>

      <!-- FB Opengraph Tags -->

    <meta property="og:title" content="Diveboard: <%= it("Track and share your scuba diving experiences - Explore new spots and destination", scope: ['home', 'nologin']) %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="//www.diveboard.com/" />
    <meta property="og:image" content="//www.diveboard.com/img/OG-thumb.png" />
    <meta property="og:description" content="<%= it("Diveboard is a scuba diving community enabling divers to track their dives through an online logbook, explore new spots and destinations and share their passion", scope: ['home', 'nologin']) %>" />
    <meta property="og:locale" content="<%=Rails.configuration.map_og_locales[I18n.locale]%>" />
    <%I18n.available_locales.each do |locale|%>
      <link rel='alternate' href='<%=HtmlHelper.find_root_for locale%>' hreflang="<%=locale%>" />
      <%if locale != I18n.locale then%>
        <meta property="og:locale:alternate" content="<%=Rails.configuration.map_og_locales[locale]%>" />
      <%end%>
    <%end%>
    <meta property="og:site_name" content="Diveboard - Track, Share and Explore Scuba Diving" />
    <meta property="fb:admins" content="680251975" />
    <meta property="fb:admins" content="1077557400" />

    <!-- END FB Opengraph Tags -->

    <meta name="description" content="<%= it("Diveboard is a scuba diving community enabling divers to track their dives through an online logbook, explore new spots and destinations and share their passion", scope: ['home', 'nologin']) %>"/>
    <META NAME="Title" CONTENT="<%= it("Explore Diveboard's contents - Diveboard : Track and share your scuba diving experiences - Explore new spots and destination", scope: ['home', 'nologin']) %>">

      <title><%= it("Explore Diveboard's contents - Diveboard : Track and share your scuba diving experiences - Explore new spots and destination", scope: ['home', 'nologin']) %></title>
      <link rel="icon" href="<%=ROOT_URL%>img/favicon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="<%=auto_file_versionning("/styles/jquery.qtip-jquery.qtip-2.0.0-20120618.css")%>" media="all" />

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({‘gtm.start’:
    new Date().getTime(),event:‘gtm.js’});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!=‘dataLayer’?‘&l=‘+l:‘’;j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,‘script’,‘dataLayer’,‘GTM-N9ZXLSV’);</script>
    <!-- End Google Tag Manager -->

    <script type="text/javascript" src="/js/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.qtip-jquery.qtip-2.0.0-20120618.js"></script>
    <script type="text/javascript" src="/js/jquery.scrollTo.js"></script>
    <script type="text/javascript" src="/js/jquery.autoclear.js"></script>
    <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false&language=<%=I18n.locale%>"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js" type="text/javascript">
    </script>
    <script type="text/javascript" src="/js/jquery.example.min.js">
    </script>

      <link rel="stylesheet" type="text/css" href="<%=auto_file_versionning("/styles/global.css")%>" media="all" />


  </head>
  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9ZXLSV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="container">
      <a href="#"><img src="/img/new_blog_btn.png" class="bar_v2_blog_btn" alt="#" /></a>
      <a href="#"><img src="/img/new_login_btn.png" alt="#" /></a>
      <a href="#"><img src="/img/learn_more_btn.png" alt="#" /></a>

      <script type="text/javascript">
      $(document).ready(function () {
        $("#search_v2_field").click(function() {
            if ($("#search_v2_field").val() != "")
              $("#live_search_results_v2").toggle("fast");
        });
        $("#search_v2_field").keyup(searchv2);
        initialize(); // starts the map
        $(document).keyup(function(e) {
          if (e.keyCode == 13) {  }     // enter
          if (e.keyCode == 27) {
              cancel_search();
            }   // esc
        });
        $("#search_v2_field").example("Hit Search to see something cool !");
        $("#search_v2_field").focusout(cancel_search);

      });

      function cancel_search(){
        $("#search_v2_field").val("");
        $("#live_search_results_v2").hide();
        if(xhr) xhr.abort();
        $("#search_loader").hide();
      }

      var contentString = new Array;
      var marks = new Array;
      var marker = new Array;
      var infowindow = new Array;
      var map;
      var speed = 5000;
      var info_active = 0;
      <% counter=0%>
      <% @lastdives.each do |dive|%>
      contentString[<%=counter%>] = '<div id="map_box_content">'+
                  '<div id="siteNotice">'+
                  '</div>'+
                  '<div id="map_box_content_left">'+
              <% if !dive.featured_picture.nil?%>
                  '<img src="<%=dive.featured_picture.thumbnail%>" alt=""/>'+
              <%end%>
                  '</div><div id="map_box_content_right">'+
                  '<h2><%="#{dive.user.nickname} at #{dive.spot.name}"%></h2>'+
                  '<h4><%="#{dive.spot.country.cname.titleize}, #{dive.spot.location}"%></h4>'+
                '<p><%if !dive.notes.nil? then %><%=CGI.escapeHTML(dive.notes.html_safe).gsub(/[\n\r]/,"<br/>") %><%else%>No notes for this dive!<%end%> </p>'+
              '<p><a href="/<%=dive.fullpermalink(:locale)%>">Check this dive out</a>'+
                '</div>'+
                  '</div>'+
                  '</div>';
      marks[<%= counter%>] = ['<%=dive.spot.name.titleize%>', <%=dive.spot.lat%>, <%=dive.spot.long%>, 12];
      <%counter += 1%>
      <%end%>
      function initialize() {
        var myOptions = {
          zoom: 3,
          center: new google.maps.LatLng(marks[0][1], marks[0][2]),
          mapTypeId: google.maps.MapTypeId.SATELLITE
        }
        map = new google.maps.Map(document.getElementById("map"),
                                      myOptions);
        setMarkers(map, marks);
      animate();
      var run = setInterval('animate()', speed);
      }


      function setMarkers(map, marks) {
              var image = new google.maps.MarkerImage('/img/marker.png',
                  // This marker is 20 pixels wide by 32 pixels tall.
                  new google.maps.Size(19, 23),
                  // The origin for this image is 0,0.
                  new google.maps.Point(0,0),
                  // The anchor for this image is the base of the flagpole at 0,23.
                  new google.maps.Point(5, 28));
              var shadow = new google.maps.MarkerImage('/img/mark_shadow.png',
                  new google.maps.Size(19, 23),
                  new google.maps.Point(0,0),
                  new google.maps.Point(0, 23));
              var shape = {
                  coord: [1, 1, 1, 20, 18, 20, 18 , 1],
                  type: 'poly'
              };


              for (var i = 0; i < marks.length; i++) {
                var spot = marks[i];
                var myLatLng = new google.maps.LatLng(spot[1], spot[2]);
                marker[i] = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    shadow: shadow,
                    icon: image,
                    shape: shape,
                    title: spot[0],
                    zIndex: spot[3]
                });
                marker[i].id = i; // need to keep a reference on the id number other wise all is screwed
              infowindow[i] = new google.maps.InfoWindow({
                  content: contentString[i]
                });

              google.maps.event.addListener(marker[i], 'click', function() {
                  infowindow[this.id].open(map,this);
                });
             }
           }
      function animate(id){
        info_active++;
        info_active = info_active % infowindow.length;
        for (var i = 0; i < infowindow.length; i++) {
          infowindow[i].close();
          }
          infowindow[info_active].open(map,marker[info_active]);
      }
      var xhr = null;

      function searchv2(){
        //http://dev.diveboard.com/api/nolog_search?q=clown
        if (xhr != null){
            xhr.abort(); // if there's a running query, kill it
          }
        $("#live_search_results_v2").empty(); //clean up the results
        $("#live_search_results_v2").show();
        $("#search_loader").show();

        xhr = $.ajax({
            url: "/api/nolog_search",
            dataType: 'json',
              data: ({
              q: $("#search_v2_field").val()
            }),
            success: function(data){
              xhr = null;
              result = '<ul><li><a href="'+data.spot[0].link+'">'+data.spot[0].name+' </a> </li>'+
                   '<li><a href="'+data.spot[1].link+'">'+data.spot[1].name+' </a> </li>'+
                   '<li><a href="'+data.spot[2].link+'">'+data.spot[2].name+' </a> </li>'+
                   '<li><a class="see_all" href="">SEE ALL SPOTS ('+data.stats.spot+') </a> </li></ul>'+
                   '<ul><li><a href="'+data.fish[0].link+'">'+data.fish[0].name+' </a> </li>'+
                   '<li><a href="'+data.fish[1].link+'">'+data.fish[1].name+' </a> </li>'+
                   '<li><a href="'+data.fish[2].link+'">'+data.fish[2].name+' </a> </li>'+
                   '<li ><a  class="see_all" href="">SEE ALL FISH ('+data.stats.fish+') </a> </li></ul>'+
                   '<ul><li><a href="'+data.user[0].link+'">'+data.user[0].name+' </a> </li>'+
                     '<li><a href="'+data.user[1].link+'">'+data.user[1].name+' </a> </li>'+
                     '<li><a href="'+data.user[2].link+'">'+data.user[2].name+' </a> </li>'+
                   '<li><a class="see_all" href="">SEE ALL USERS ('+data.stats.user+') </a> </li></ul>';
              $("#live_search_results_v2").html(result);
              $("#search_loader").hide();
            }
          });
      }


      </script>

      <div id="bar_v2">
        <a href="#"><img src="/img/logo_v2.png" alt="Diveboard" /></a>
        <div class="bar_v2_btn_block">

          <!--<a href="#" class="bar_v2_home"><img src="/img/bar_v2_home.png" alt="Home" class="bar_v2_home_up" /></a>

          <a href="#" class="bar_v2_you"><img src="/img/bar_v2_you.png" alt="You" class="bar_v2_you_up"  /></a>
          <a href="#" class="bar_v2_explore"><img src="/img/bar_v2_explore.png" alt="Explore" class="bar_v2_explore_up" /></a> -->
        </div>
      </div>

      <div id="search_v2">
        <input type="text" id="search_v2_field"><input value="search" class='example' type="image" src="/img/search_v2_button.jpg">
        <img src="/img/transparent_loader_2.gif" height='66px' width='66px' style="display:none; position: absolute; top: 15px; left: 94px; z-index: 2000; width: 45px;" id="search_loader"/>
      <div id="live_search_results_v2">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        </ul>

      </div>
      </div>



      <div id="public_home_feat">
        <div id="public_home_pics">
          <a href="/doug.deep/187"><img src="/images/123.jpg" alt="" /></a>
          <a href="/ksso/150"><img src="/images/88.jpg" alt="#" /></a>
          <a href="/ksso/149"><img src="/images/120.jpg" alt="#" /></a>
          <a href="/ksso/148"><img src="/images/106.jpg" alt="#" /></a>
          <a href="/ksso/8"><img src="/images/124.jpg" alt="#" /></a>
          <a href="/pascal/33"><img src="/images/63.jpg" alt="#" /></a>
          <a href="/ksso/18"><img src="/images/19.jpg" alt="#" /></a>
          <a href="/ksso/11"><img src="/images/36.jpg" alt="#" /></a>
        </div>

        <div id="public_home_map"  >
          <div id="map" style="width:577px; height:366px;"></div>
        </div>
      </div>

      <div class="public_index_label">
        <img src="/img/public_index_label.jpg" alt="#" />
      </div>

      <div class="public_home_bottom_pic">
        <img src="/images/seadragon.jpg" alt="#" />
        <span class="public_home_bottom_pic_title"><%= it("Seadragons", scope: ['home', 'nologin']) %></span>
        <p><%= it("Incredibly colorful - Picture by %{link:Doug Anderson}", scope: ['home', 'nologin'], link: It.link("/doug.anderson")) %>... <a href="#"><%= it("Show me", scope: ['home', 'nologin']) %></a></p>
      </div>
      <div class="public_home_bottom_pic_spacer"></div>
      <div class="public_home_bottom_pic">
        <img src="/images/manta.jpg" alt="#" />
        <span class="public_home_bottom_pic_title"><%= it("Mantas", scope: ['home', 'nologin']) %></span>
        <p><%= it("Huge oceans' butterflies", scope: ['home', 'nologin']) %> - <%= it("Picture by Picture by %{link:chucklepix}", scope: ['home', 'nologin'], link: It.link("http://www.flickr.com/photos/42507736@N02/5604530336/")) %>... <a href="#">Show me</a></p>
      </div>
      <div class="public_home_bottom_pic_spacer"></div>
      <div class="public_home_bottom_pic">
        <img src="/images/wartslug.jpg" alt="#" />
        <span class="public_home_bottom_pic_title"><%= it("Wart slugs", scope: ['home', 'nologin']) %></span>
        <p><%= it("Incredibly colorful slugs", scope: ['home', 'nologin']) %> - <%= it("Picture by Picture by %{link:Doug Anderson}", scope: ['home', 'nologin'], link: It.link("/doug.anderson")) %>... <a href="#">Show me</a></p>
      </div>
      <div class="public_home_bottom_pic_spacer"></div>
      <div class="public_home_bottom_pic">
        <img src="/images/lionfish.jpg" alt="#" />
        <span class="public_home_bottom_pic_title"><%= it("Lionfish", scope: ['home', 'nologin']) %></span>
        <p><%= it("Impressive yet deadly", scope: ['home', 'nologin']) %> - <%= it("Picture by Picture by %{link:Doug Andersonjiazi}", scope: ['home', 'nologin'], link: It.link("http://www.flickr.com/photos/jiazi")) %>... <a href="#">Show me</a></p>
      </div>


      <%= render :partial => 'layouts/footer'  %>


    </div>

  <%= render :partial => 'layouts/trackers'  %>


  </body>
</html>
