	<div id="container"> 	
		<div id="header">
		<a href="<%= @fb_connect_controller %>" class="header_facebook"><img src="/img/facebook.png" alt="#" /></a>
		<ul>			
			<li class="header_logo"><a href="#"><img src="/img/logo-alpha.png" alt="DiveBoard" /></a></li>
			<li style="width:79px;"></li>
			<li><a href="#" onclick="SnapABug.startLink();" class="header_sub_menu"><img src="/img/header_help_link.png" alt="help" /></a></li>
			<li><a href="http://deck.diveboard.com/" class="header_sub_menu"><img src="/img/header_blog_link.png" alt="blog" /></a></li>
			<li><form action="#">
				<fieldset>
				<input type="text" id="home_search" class="autoclear tooltiped" value="Search" title="<%= it("search coming soon!", scope: ['home', 'pwd_reset']) %>"/>
				<input type="image" id="home_search_btn" src="/img/home_search_btn.png" />
				</fieldset>
				</form>
			</li>
		</ul>
		</div>

	</div>
	<div id="index_container">
		

		<br/>
		<% if flash[:notice]%>
			<%=flash[:notice]%><br/>
		<%end%>
		
		<% if @result.nil?%>
			<%= it("Set a new password:", scope: ['home', 'pwd_reset']) %><br/>
			<%= form_for(User.new, :url=>{:action=>'pwd_reset', :controller=>"login"}) do |f|%>
			Pwd - 5 to 20 chars: <%= f.password_field :password%><br/>
			Pwd (check): <%= f.password_field :password_confirmation%><br/>
			<%= hidden_field_tag 'token', @token%>
			<%= hidden_field_tag 'email', @email%>
			<%= f.submit it("Reset my Password", scope: ['home', 'pwd_reset']) %>
			<%end%>
		<%else%>
		<%=@result%>
		<%end%>
		
	</div>


<%= render :partial => 'layouts/footer'  %>
