<!-- META TAGS -->
<%
  location_txt = []
  location_txt.push @shop.city unless @shop.city.blank?
  location_txt.push @shop.country.name if @shop.country && @shop.country.id != 1
  location_txt = location_txt.join ", "

  title = @owner.nickname
  if location_txt.blank? then
    title += " - " + it("%{category} in %{location}", scope: ['shop_pages', 'meta_tags'], category: @shop.category, location: location_txt)
  else
    title += " - " + @shop.category
  end
  title += " - " + it("Reviews, infos, bookings and more", scope: ['shop_pages', 'meta_tags'])
%>
<%
begin
  if params[:realm] == "review"
    desc = it("Reviews for %{shopname} on Diveboard. Check out what other have experienced with them and share your own story.", scope: ['shop_pages', 'meta_tags'], shopname: @owner.nickname)
  elsif @shop.widgets["home"].reject{|e| e.widget_type != "WidgetText"} .first.widget.modified?
    desc = truncate(strip_tags( @shop.widgets["home"].reject{|e| e.widget_type != "WidgetText"} .first.widget.content.html_safe.gsub(/[\r|\t|\n]/," ").gsub("<br/>", " ") ) , :length => 300).gsub("&nbsp;", " ")
  else
    desc = title
  end
rescue
  desc = title
end%>
<%shop_pic = @shop.user_proxy.avatars.pictures.last rescue nil%>
<title><%=title%></title>
<META NAME="Title" CONTENT="<%=title%>" />
<meta name="description" content="<%=desc%>"/>
<%if shop_pic then%>
  <meta name="thumbnail" content="<%=shop_pic.thumbnail rescue @shop.user_proxy.picture%>"/>
<%end%>

<meta property="fb:app_id"                content="<%=FB_APP_ID%>" />
<meta property="og:type"                  content="diveboard:dive_pro" />
<%
relative_path = ""
begin
  relative_path = "review" if params[:realm] == "review"
rescue
end
%>
<meta property="og:url"                   content="<%=@shop.fullpermalink(:canonical)%><%=relative_path%>" />
<meta property="og:title"                 content="<%=@owner.nickname%>" />
<meta property="og:description"           content="<%=desc%>" />
<meta property="og:image"                 content="<%=@shop.user_proxy.avatars.pictures.last.medium rescue @shop.user_proxy.picture%>" />
<meta property="og:locale" content="<%=Rails.configuration.map_og_locales[I18n.locale]%>" />
<%I18n.available_locales.each do |locale|%>
  <link rel='alternate' href='<%=@shop.fullpermalink(locale)%><%=relative_path%>' hreflang="<%=locale%>" />
  <%if locale != I18n.locale then%>
    <meta property="og:locale:alternate" content="<%=Rails.configuration.map_og_locales[locale]%>" />
  <%end%>
<%end%>
<meta property="diveboard:type"           content="<%=@shop.category%>" />
<meta property="place:location:latitude"  content="<%=@shop.lat rescue ""%>" />
<meta property="place:location:longitude" content="<%=@shop.lng rescue ""%>" />
<meta property="diveboard:address:website"        content="<%=@shop.url.html_safe rescue ""%>" />
<meta property="diveboard:address:street_address"        content="<%=@shop.address.gsub("\n", " ") rescue ""%>" />
<meta property="diveboard:address:locality"        content="<%=@shop.city.gsub("\n", " ") rescue ""%>" />
<meta property="diveboard:address:country_name"        content="<%=@shop.country.cname rescue ""%>" />
<meta property="diveboard:address:phone_number"        content="<%=@shop.phone rescue ""%>" />
<% @shop.dives.reject{|e| e.privacy == 1} .map{|e| e.fullpermalink(:canonical)} .each do |e|%>
  <meta property="diveboard:dive" content="<%=e%>" />
<% end%>
<!-- END META TAGS -->