<%
  location_name = @area.geonames_core.name
  unless @area.geonames_core.country.nil?
    location_name += ", #{@area.geonames_core.country.cname}"
  end
%>

<%= content_for :javascripts do%>
	<script type="text/javascript">
		$(document).ready(function()
			{
				$('.fb_share').click(function()
					{
						<% title = it("Diving in %{location_name}", scope: ['area_pages', 'v2', 'cover_pic'], location_name: location_name) %>
						window.open("http://www.facebook.com/share.php?u=<%=URI.escape(@area.fullpermalink(:canonical))%>&title='<%=URI.escape("#{title}") %>'", "", "width=600, height=400");
				});
				<% if !@header_picture.nil? %>
					$('.pinterest_share').click(function()
						{
							window.open('//www.pinterest.com/pin/create/button/?url=<%=URI.escape(@area.fullpermalink(:canonical))%>&media=<%=URI.escape(@header_picture.thumbnail)%>&description=<%= it("Discover where and when to dive in %{location_name}", scope: ['area_pages', 'v2', 'cover_pic'], location_name: location_name) %>"&data-pin-do="buttonPin"&data-pin-config="above"&data-pin-height="28"', "", "width=600, height=400");
						});
				<% end %>
				$('.twitter_share').click(function()
					{
						window.open('http://twitter.com/home?status=<%= it("Discover where and when to dive in %{location_name}", scope: ['area_pages', 'v2', 'cover_pic'], location_name: location_name) %>+<%=@area.fullpermalink(:canonical)%>', "", "width=600, height=400");
					});
				$('.google_share').click(function()
					{
						window.open('https://plus.google.com/share?url=<%=@area.fullpermalink(:canonical)%>', "", "width=600, height=400");
					});
			});
	</script>
<%end%>

<div id="cover_pic" style="background-image: url('<% if !@header_picture.nil? %><%= @header_picture.large %><% else %> /img/areas/default_banner.jpg <% end %>')">
	<div class="container">
		<div class="infos">
			<h1><%= @area.geonames_core.name %><% unless @area.geonames_core.country.nil? %>, <span class="country"><%= @area.geonames_core.country.cname %></span><% end %></h1>
			<table class="rating">
				<tr>
					<%=
						if @area.count_reviews != 0
	            mark = (((@mark * 5.0) / 100.0) * 2.0).round / 2.0
	            render "v2/shared/score_bullet", :score => mark
	          end
          %>
					<td>
						<% if @area.count_reviews == 0 %>
							<p>
								<%= it("No dive reviews yet",
										scope: ['area_pages', 'v2', 'cover_pic']) %>
							</p>
						<% else %>
							<p>
								(<%= it("%{count} reviews",
										 scope: ['homepage', 'v2', 'featured_destinations'],
										 count: @area.count_reviews) %>)
							</p>
						<% end %>
					</td>
				</tr>
			</table>
		</div>
		<div class="social">
			<div>
				<div class="shakable">
					<div class="fb_share soc_button"><img src="<%= HtmlHelper.lbroot "/img/global/social/facebook_white_icon.svg" %>" alt="Facebook" /></div>
				</div >
				<% if !@header_picture.nil? %>
					<div class="shakable">
						<div class="pinterest_share soc_button"><img src="<%= HtmlHelper.lbroot "/img/global/social/pinterest_white_icon.svg" %>" alt="Pinterest" /></div>
					</div>
				<% end %>
				<div class="shakable">
					<div class="twitter_share soc_button"><img src="<%= HtmlHelper.lbroot "/img/global/social/twitter_white_icon.svg" %>" alt="Twitter" /></div>
				</div>
				<div class="shakable">
					<div class="google_share soc_button"><img src="<%= HtmlHelper.lbroot "/img/global/social/google_plus_white_icon.svg" %>" alt="Google+" /></div>
				</div>
			</div>
		</div>
	</div>
</div>