<% with_cancel ||= false
reload_url ||= nil
%>
<table class='shop_message_to_customer'>
  <tr>
    <th><%= it("Select a topic:", scope: ['care', 'shop_pages', 'message_form']) %></th>
    <td><div class='dropdown right white topic_text'>
      <div class='options'>
        <div class='option' data-value='Information request'><%= it("Information request", scope: ['care', 'shop_pages', 'message_form']) %></div>
        <div class='option' data-value='Congratulations !'><%= it("Congratulations!", scope: ['care', 'shop_pages', 'message_form']) %></div>
        <div class='option' data-value='Thank you !'><%= it("Thank you!", scope: ['care', 'shop_pages', 'message_form']) %></div>
        <div class='option'><%= it("Other:", scope: ['care', 'shop_pages', 'message_form']) %> <input></input><button class='yellow_button_small'><%= it("OK", scope: ['care', 'shop_pages', 'message_form']) %></button></div>
      </div>
    </div></td>
  </tr>
  <tr>
    <th><%= it("Message:", scope: ['care', 'shop_pages', 'message_form']) %></th>
    <td><textarea class='message_text'></textarea></td>
  </tr>
  <tr>
    <td></td>
    <td><button class='yellow_button submit_group_inquiry' data-group_id='<%=shop.user_proxy.id%>' data-to_id='<%=customer.id%>' <%if reload_url%>data-reload_url='<%=reload_url%>'<%end%>>Send new message</button> <%if with_cancel%><button class='grey_button cancel_group_inquiry'><%= it("Cancel", scope: ['care', 'shop_pages', 'message_form']) %></button><%end%></td>
  </tr>
</table>
