<style>
body {min-width: 195px; max-width: 285px; width: inherit !important;}

.shop_widget {position: relative; border: solid 1px #b5b5b5; color: #333;}

.shop_widget .header {width: 100%; height: 22px; background: #f0cd5d; position: relative;border-bottom: solid 1px #b5b5b5;
background-image: linear-gradient(top, rgba(238,226,110,255) 24%, rgba(241,205,93,255) 49%, rgba(244,185,77,255) 80%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.2446601, rgba(238,226,110,255)), color-stop(0.4893202, rgba(241,205,93,255)), color-stop(0.79508569587958, rgba(244,185,77,255)));
background-image: -moz-linear-gradient(top, rgba(238,226,110,255) 24%, rgba(241,205,93,255) 49%, rgba(244,185,77,255) 80%);
background-image: -o-linear-gradient(top, rgba(238,226,110,255) 24%, rgba(241,205,93,255) 49%, rgba(244,185,77,255) 80%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee26e', endColorstr='#f1cd5d'endColorstr='#f4b94d');}

.shop_widget .header h1 {font-size: 13px; text-transform: uppercase; font-weight: 600; position: absolute; top: 3px; left: 9px;}
.shop_widget .header .rate_us_link {position: absolute; right: 9px; top: 4px; font-size: 11px;}
.shop_widget .header .rate_us_link a {color: #333;}

.shop_widget .ratings {margin: 10px 9px 3px 10px; font-size: 13px;}
.shop_widget .rating {position: relative; line-height: 16px}
.shop_widget .rating_stars {position: absolute; right: 0px; top: 1px; font-size: 0px;}
.shop_widget .rating_stars .no_star {font-size: 10px;}
.shop_widget .rating_stars .star {margin-left: 2px; display: inline-block; background: url(/img/rating_star_12.png) no-repeat 0 0px; width: 12px; height: 12px;}
.shop_widget .rating_stars .star.on {background-position: 0 -12px!important; }
.shop_widget .rating_stars .star.half.off {background-position: -6px 0px!important; width: 6px; margin-left: 0px;}
.shop_widget .rating_stars .star.half.on {background-position: 0 -12px!important; width: 6px;}

.shop_widget .view_ratings {font-size: 12px; margin: 0px 10px 7px 10px;}
.shop_widget .view_ratings a {color: #3893bf;}

.shop_widget .footer {background: #000;border-top: solid 1px #b5b5b5; color: #fff; font-size: 10px; font-weight: 200; height: 15px; text-align: center; line-height: 16px;}
.shop_widget .footer img {height: 9px; position: relative; top: 1px; margin-left: 4px;}
</style>


<div class='shop_widget'>
  <div class='header'>
    <h1><%=@shop.name%></h1>
    <div class='rate_us_link'><a href='<%=@shop.fullpermalink(:locale)%>/review'><%= it("Rate us", scope: ['shop_widgets', 'medium']) %> &#x2192;</a></div>
  </div>

  <div class='ratings'>
    <%=render :partial => 'ratings'%>
  </div>

  <div class='view_ratings'><a href='<%=@shop.fullpermalink(:locale)%>/review'><%= it("View ratings...", scope: ['shop_widgets', 'medium']) %></a></div>

  <div class='footer'><%= it("By divers on", scope: ['shop_widgets', 'medium']) %> <img src='/img/logo_white_notag.png' alt='DIVEBOARD'/></div>
</div>
