  <div class="main_info" align="left">
    <div>
      Your buddy <a href="<%=@buddy.fullpermalink%>"><%=@buddy.nickname%></a> is using Diveboard to log and share his diving.<br/><br/>
      He tagged you in one of his dives, check out <a href="<%=@buddy.fullpermalink%>">his logbook</a> !
      <br/><br/>
      Join him on <a href="<%=ROOT_URL%>?force_signup=true">Diveboard</a> it's free!
      <br/><br/>
      <center>
      <a href="<%=ROOT_URL%>?force_signup=true" class="yellow_button">Join today !</a>
      </center>
    
      <br/>
    </div>

    
    <br/>
  </div>