  <div class="main_info" align="left">
    <div>
      Did you know that Diveboard is the #1 online logbook with hundreds of thousands of divers sharing their experience and planning for the next big splash ?<br/><br/>
      When they search for you, this is how they see you:<br>

      Grab and <b>secure new customers</b> now by claiming your page and accpeting <b>online booking</b>.<br/>

      <br/>
      Claim you page, upload your logo, list your serivce and a business description and you'll get people on your front door in new time ! <br/>
      Also for limited time only enjoy <b>FREE ADVERISEMENT</b> on Divbeoard ! What are you waiting for !?
    </div><br/>
    <div><br/>
      <center><a href="<%if @shop.is_claimed?%><%=@shop.fullpermalink%>/edit/dive<%else%><%=@claim%><%end%>" class="yellow_button">Claim your page NOW</a></center>
      <br/>
      Not sure yet ? Check out how our friends at <a href="http://<%=ROOT_URL%>pro/dive_shack_usa/dive">Dive Shack USA</a> are doing it !<br/>
      <center><a href="http://<%=ROOT_URL%>pro/dive_shack_usa/dive"><img src="<%=ROOT_URL%>/img/email_marketing/diveshack_book.png" width=400 height=76/></a></center>
    </div>
    <br/>
  </div>