
<div id="footer_container">
    <div class="footer_one">

<table class="social" style="
    margin-left: 15px;
    margin-top: 18px;
">
    <tbody><tr style="
    /* margin-left: 10px; */
">
      <td><a href="https://twitter.com/diveboard" target="_blank"><img src="https://cdn1.diveboard.com/img/home/twitter_icon.svg" alt="Twitter" style="
    width: 50px;
    margin-right: 11px;
"></a></td>
      <td><a href="https://discord.gg/bSEpRv77sv" target="_blank"><img src="https://cdn4.diveboard.com/img/home/discord_icon.svg" alt="Discord" style="
    width: 50px;
    margin-right: 13px;
"></a></td>
      <td><a href="https://github.com/diveboard" target="_blank"><img src="https://cdn1.diveboard.com/img/home/github_icon.svg" alt="Github" style="
    width: 50px;
"></a></td>
    </tr>
  </tbody></table>


    </div>

    <div class="footer_three">
      <ul>
        <li><strong><%= it("Product and services", scope: ['layouts', 'footer']) %></strong></li>
        <li><a href="/about/tour"><%= it("Online Logbook", scope: ['layouts', 'footer']) %></a></li>
        <li><a href="/about/import/1"><%= it("Supported dive computers", scope: ['layouts', 'footer']) %></a></li>
        <li><a href="/about/import/2"><%= it("Supported import files", scope: ['layouts', 'footer']) %></a></li>
        <li><a href="/pro"><%= it("Diveboard for professionals", scope: ['layouts', 'footer']) %></a></li>
      </ul>
    </div>
    <div class="footer_four">
      <ul>
        <li><strong><%= it("Community and help", scope: ['layouts', 'footer']) %></strong></li>
        <li><a href="#" onclick="showClassicWidget();"><%= it("Feedback / Suggestions", scope: ['layouts', 'footer']) %></a></li>
        <li><a href="/about/tos"><%= it("Terms of Service", scope: ['layouts', 'footer']) %></a> / <a href="/about/privacy"><%= it("Privacy", scope: ['layouts', 'footer']) %></a></li>
      </ul>
    </div>

    <div class="footer_five">
      <ul>
        <li><strong><%= it("About Diveboard", scope: ['layouts', 'footer']) %></strong></li>
        <li><a href="/about/1"><%= it("Meet the crew", scope: ['layouts', 'footer']) %></a></li>
        <li><a href="/about/2"><%= it("Diveboard's inception", scope: ['layouts', 'footer']) %></a></li>
        <li><a href="/about/3"><%= it("Partners", scope: ['layouts', 'footer']) %></a></li>
        <li><a href="/about/4"><%= it("Contact us", scope: ['layouts', 'footer']) %></a></li>
      </ul>
    </div>
</div>
