<!--
<% if params[:refer_campaign] == "true" %>
<script>
window['friendbuy'] = window['friendbuy'] || [];
window['friendbuy'].push(['site', 'site-eb852c0b-www.diveboard.com']);
window['friendbuy'].push(['track', 'customer',
{
id: <%= begin @user.id rescue "null" end %>,
email: <%= begin "\"#{@user.contact_email}\"".html_safe rescue "null" end %>
}
]);

(function (f, r, n, d, b, y) {
b = f.createElement(r), y = f.getElementsByTagName(r)[0];b.async = 1;b.src = n;y.parentNode.insertBefore(b, y);
})(document, 'script', '//djnf6e5yyirys.cloudfront.net/js/friendbuy.min.js');
</script>

 <script>
    window['friendbuy'] = window['friendbuy'] || [];
    window['friendbuy'].push(['widget', "bgu-den"]);
 </script>
<div class="friendbuy-bgu-den"></div>       
<%end%>
-->

<script type="text/javascript">

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');


  ga('create', '<%=GOOGLE_ANALYTICS%>');
  ga('cookieDomain', '<%=ROOT_DOMAIN%>');
  ga('require', 'displayfeatures');

  <% if !@custom_analytics
    @ga_page_category ||= "other"
    @ga_custom_url ||= nil %>
    
    ga('set', 'contentGroup1', '<%=@ga_page_category%>');
    console.log("ContentGroup1 Page category --> <%=@ga_page_category%>");
    ga('set', 'dimension1', '<%=@ga_page_category%>');
    <%if @user%>
      ga('set', 'dimension2', 'Registered');
    <%end%>
    <% if @ga_custom_url then%>
      ga('send', 'pageview', '<%=@ga_custom_url%>');
    <%else%>
      ga('send', 'pageview');
    <%end%>
  <%end%>

  <%if session[:ga_track_events].is_a?(Array) && !session[:ga_track_events].blank? then
    Rails.logger.debug "Events to push for google analytics: #{session[:ga_track_events].inspect}"
    session[:ga_track_events].each do |event|
      begin%>
        ga('send', {
          'hitType': 'event',          // Required.
          'eventCategory': <%=event[:category].to_json.html_safe%>,   // Required.
          'eventAction': <%=event[:action].to_json.html_safe%>,      // Required.
          <%if !event[:label].blank?%>'eventLabel': <%=event[:label].to_json.html_safe%>,<%end%>
          'nonInteraction': true
        });
    <%rescue
        Rails.logger.warn $!.message
        Rails.logger.debug $!.backtrace.join "\n"
      end
      session[:ga_track_events] = []
    end
  end%>

</script>
<%if begin GOOGLE_LEGACY_ANALYTICS rescue false end then%>
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%=GOOGLE_LEGACY_ANALYTICS%>']);
  _gaq.push(['_setDomainName', '<%=ROOT_DOMAIN%>']);
  _gaq.push(['_trackPageview']);
  _gaq.push(function(){try {
      history.pushState({},'', URI(window.location).removeSearch("utm_source").removeSearch("utm_medium").removeSearch("utm_campaign"))
    } catch(e){}
  });
  (function() {
    var ga_old = document.createElement('script'); ga_old.type = 'text/javascript'; ga_old.async = true;
    ga_old.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga_old, s);
  })();
</script>
<%end%>
<script type="text/javascript">
  $(document).ready(function(){
    try {
      if (typeof FB != 'undefined') {
        FB.Event.subscribe('edge.create', function(targetUrl) {
          ga('send', 'social', 'facebook', 'like', targetUrl);
        });
        FB.Event.subscribe('edge.remove', function(targetUrl) {
          ga('send', 'social', 'facebook', 'unlike', targetUrl);
        });
        FB.Event.subscribe('message.send', function(targetUrl) {
          ga('send', 'social', 'facebook', 'send', targetUrl);
        });
      }
    } catch(e){
      if (console && console.log) console.log(e);
    }
  });
</script>
<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/LzrfYcu1lRWktttfGQfHOw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A function to launch the Classic Widget -->
<script>
UserVoice = window.UserVoice || [];
function showClassicWidget() {
  UserVoice.push(["set", "locale", "<%=I18n.locale%>"]);
  UserVoice.push(['showLightbox', 'classic_widget', {
    mode: 'full',
    primary_color: '#cc6d00',
    link_color: '#007dbf',
    default_mode: 'support',
    forum_id: 133120
  }]);
}
</script>

<!--
/* <![CDATA[ */
var google_conversion_id = 1045765921;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
$.getScript("//www.googleadservices.com/pagead/conversion.js");
/* ]]> */
</script>
-->
<%unless @user.nil? %>
  <!-- Facebook Conversion Code for Registration -->
  <script type="text/javascript">
  var fb_param = {};
  fb_param.pixel_id = '6016716489513';
  fb_param.value = '0.00';
  fb_param.currency = 'USD';
  (function(){
    var fpw = document.createElement('script');
    fpw.async = true;
    fpw.src = '//connect.facebook.net/en_US/fp.js';
    var ref = document.getElementsByTagName('script')[0];
    ref.parentNode.insertBefore(fpw, ref);
  })();
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6016716489513&amp;value=0&amp;currency=USD" /></noscript>
<%end%>

<!--
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1045765921/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
-->

<!-- <script type="text/javascript">var _kmq = _kmq || [];
var _kmk = _kmk || '234fee721c87f37f1cde2a5fab07bc498fdd9fe4';
function _kms(u){
  setTimeout(function(){
    var d = document, f = d.getElementsByTagName('script')[0],
    s = d.createElement('script');
    s.type = 'text/javascript'; s.async = true; s.src = u;
    f.parentNode.insertBefore(s, f);
  }, 1);
}
_kms('//i.kissmetrics.com/i.js');
_kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
</script>
-->

<!-- Dev Google Analytics --> 
<!--<script>  
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga2');
  <% if @virtual_pageview %>
    ga2('create', 'UA-54315810-1', 'auto');
    ga2('send', { 'hitType': 'pageview', 'page': '<%=@virtual_pageview[:virtualp_url]%>', 'title': '<%=@virtual_pageview[:virtualp_title]%>' });
    console.log("VIRTUAL PAGE url '<%=@virtual_pageview[:virtualp_url]%>'");
  <%else%>
    ga2('create', 'UA-54315810-1', 'auto');
    ga2('send', 'pageview');
    console.log("NORMAL PAGE VIEW");
  <%end%>
</script> --> 

<% if !@user.nil? && !@user.created_at.nil? && (@user.created_at > (Time.now - 60.seconds)) %>
<!-- Only shown within the 60 seconds of an account creation-->
<!-- Google Code for account creation Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1045765921;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "m31ACL-wvgIQob7U8gM";
var google_conversion_value = 0;
$.getScript("//www.googleadservices.com/pagead/conversion.js");
/* ]]> */
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1045765921/?label=m31ACL-wvgIQob7U8gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<%end%>



