<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml"
  xml:lang="<%=I18n.locale%>" lang="<%=I18n.locale%>">
  <meta name="csrf-token" content="<%= form_authenticity_token %>" />
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="db-cookie-domain" content="<%=COOKIES_DOMAIN%>" />
  <!-- STYLESHEETS -->
  <head>



    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({‘gtm.start’:
    new Date().getTime(),event:‘gtm.js’});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!=‘dataLayer’?‘&l=‘+l:‘’;j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,‘script’,‘dataLayer’,‘GTM-N9ZXLSV’);</script>
    <!-- End Google Tag Manager -->
    <%= yield :css if content_for? :css%>
    <%= include_stylesheets :widget, :media => :all %>

    <%= javascript_include_tag :jquery %>
    <base target='_blank'/>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9ZXLSV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="widget">
      <%= yield %>
      <!--Google maps cursor disappearing hack -->
      <img src="http://maps.gstatic.com/mapfiles/openhand_8_8.cur" style="position: absolute; top: -1000px; left: -1000px; "/>
    </div>
  </body>
</html>